@import "tailwindcss";

*{
  font-family: gilroy;
  color: #fff;
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
  font-family: "Open Sans", sans-serif;

}
/* html,body{
  height: 100%;
  width: 100%;
} */

body{
  background-color: black;
  
}

#tasklist::-webkit-scrollbar{
display: none;
}